<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 1</title>
    <link rel="stylesheet" href="../src/css/page1.css">
</head>

<body>
    <div class="title">
        <h1>Discover the beauty <br> around the world</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipscing <br>
            elit. Faucibus in libero risus semper habitant arcu<br>
            eget. Et integer facilisi eget diam.</p>
        <button class="boton">Explore</button>

</body>

</html>