<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 9</title>
    <link rel="stylesheet" href="../src/css/page9.css">
</head>

<body>
    <div class="container">
        <div class="Encabezado">
            <h1>
                Interior design
            </h1>
            <div class="idk">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit. Faucibus in libero risus semper habitant
                arcu eget.<br> Et integer facilisi eget.</p>
            <button>Explore</button>
            <img src="../src/storage/img/Image right.png" alt="">
            
            </div>

            <div class="img2">
                <img src="../src/storage/img/Image left.png" alt="">
            </div>
        </div>
        <div class="stars">
        <ul>
            <li>
                <div class="number">5.8</div>
                <div class="underline"></div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</div>
            </li>
            <li>
                <div class="number">99+</div>
                <div class="underline"></div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</div>
            </li>
            <li>
                <div class="number">110K</div>
                <div class="underline"></div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</div>
            </li>
        </ul>
    </div>
    </div>
</body>

</html>