<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 6</title>
    <link rel="stylesheet" href="../src/css/page6.css">
</head>

<body>
    <div class="container">
            <img src="../src/storage/img/Image group.png" alt="" class="all">
            <img src="../src/storage/img/circle.png" alt="" class="im">
        

        <div class="titulo">
            <h1>THE eWatch with the newest microchip technology</h1>
        </div>
        <div class="parrafo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Faucibus in libero risus semper habitant
                arcu <br> eget. Et integer facilisi eget diam.</p>
        </div>
        <div class="botones">
            <button>Order now</button> <button>Explore more</button>
        </div>
        <div class="i1">
            <img src="../src/storage/img/list.png" alt="img5">
            </div>
        <div class="imagenes">

            </div>
        </div>
    </div>

</body>

</html>