<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 9</title>
</head>
<body>
    <div class="container">
    <div class="Titulo">Interior design</div>
    <div class="Parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit. Faucibus in libero risus semper habitant arcu eget.<br> Et integer facilisi eget.</div>
    <div calss="boton"><button>Explore</button></div>
    </div>
</body>
</html>