<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 2</title>
    <link rel="stylesheet" href="../src/css/page2.css">
</head>

<body>
    <div class="title">
        <h1>Discover the <br>
            beauty around<br>
            the world</h1>
    </div>

    <p>Lorem ipsum dolor sit amet,<br>
        consectetur adipscing elit. <br>
        Faucibus in libero risus semper<br>
        habitant arcu.</p>

    <button>Get started</button>

</body>

</html>