<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 5</title>
    <link rel="stylesheet" href="../src/css/page5.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>Projects and <br> practice</h1>
        </div>

        <div class="text1">
            <h3>01</h3>
            <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Faucibus <br> in libero risus semper
                habitant arcu <br> eget. Et integer facilisi eget.</p>
        </div>

        <div class="img1">
            <img src="../src/storage/img/img1.png" alt="Img1">
        </div>

        <div class="text2">
            <h3>02</h3>
            <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Faucibus <br> in libero risus semper
                habitant arcu <br> eget. Et integer facilisi eget.</p>
        </div>

        <div class="img2">
            <img src="../src/storage/img/img2.png" alt="Img2">
        </div>

        <div class="text3">
            <h3>03</h3>
            <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Faucibus <br> in libero risus semper
                habitant arcu <br> eget. Et integer facilisi eget.</p>
        </div>

        <div class="img3">
            <img src="../src/storage/img/img3.png" alt="Img3">
        </div>




    </div>
    </div>
</body>

</html>