<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/page8.css">
</head>

<body>

    <div class="container">
        <div class="imagenes">
            <img src="../src/storage/img/negro.png" alt="negro" class="imagen1">
            <img src="../src/storage/img/1pattern.png" alt="puntos1" class="imagen2">
            <img src="../src/storage/img/pattern.png" alt="puntos2" class="imagen3">
            <div class="circulo"></div>
        </div>
        <div class="titulo">
            <h1>Take your<br>designs to<br> the next<br> level</h1>
        </div>

        <div class="parrafo">
            <p>
                Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Faucibus in libero risus<br> semper
                habitant
                arcu.
            </p>

            <button class="boton">Explore</button>



        </div>

    </div>
</body>

</html>