<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 6</title>
</head>
<body>
    <div class="container">
        <img src="../src/storage/img/circle.png" alt="img1">
        <div class="titulo">
            <h1>THE eWatch with the newest microchip technology</h1>
        </div>
        <div class="parrafo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Faucibus in libero risus semper habitant arcu <br> eget. Et integer facilisi eget diam.</p>
        </div>
        <div class="botones">
            <button>Order now</button>  <button>Explore more</button>
        </div>

        <div class="seccion">
            <p>Lorem ipsu dolor amet</p> <p>Lorem ipsu dolor amet</p> <p>Lorem ipsu dolor amet</p>
        </div>

        
        <img src="../src/storage/img/Icon1.png" alt="img2">
        <img src="../src/storage/img/Icon2.png" alt="img3">
        <img src="../src/storage/img/Icon3.png" alt="img3">
        <img src="../src/storage/img/list.png" alt="img5">
        <img src="../src/storage/img/star.png" alt="img6">
        <img src="../src/storage/img/Star1.png" alt="img7">
        <img src="../src/storage/img/Star3.png" alt="img8">
        <img src="../src/storage/img/Stroke.png" alt="img9">
        <img src="../src/storage/img/Stroke2.png" alt="img10">
        <img src="../src/storage/img/unsplash_QRWAdBCqysc.png" alt="img11">

    </div>
    
</body>
</html>