<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 7</title>
    <link rel="stylesheet" href="../src/css/page7.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Design is the way how<br> you express the feelings</h1>
        </div>

        <div class="text1">
            <h2>01</h2>
            <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit</p>
        </div>

        <div class="img1">
            <img src="../src/storage/img/img1.png" alt="Img1">
        </div>

        <div class="text2">
            <h2>02</h2>
            <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit</p>
        </div>

        <div class="img2">
            <img  src="../src/storage/img/img2.png" alt="Img2">
        </div>

        <div class="text3">
            <h2>03</h2>
            <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
        </div>

        <div class="img3">
            <img  src="../src/storage/img/img3.png" alt="Img3">
        </div>




    </div>
    </div>
</body>
</html>
