<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 3</title>
    <link rel="stylesheet" href="../src/css/page3.css">
</head>

<body>
    <div class="container">
        <div class="title">
        <h1>Just that simple</h1>
        </div>

        <div class="text"><p>Lorem ipsum dolor sit amet, consectetur<br>
                adipiscing elit. Faucibus in libero risus <br>
                semper habitant arcu eget.</p></div>
                
                <button class="boton">Get started</button>
                <div class="imagen">
                    <img src="../src/storage/img/hero Image.png" alt="Img">
                </div>
           
            
        </div>
    </div>
</body>

</html>