<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 4</title>
    <link rel="stylesheet" href="../src/css/page4.css">
</head>
<body>
    <div class="container">
        
        <div class="title">
            <h1>Exploration and <br> inspiration</h1>
        </div>

        <div class="texto">
            <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Faucibus in libero risus <br>semper habitant arcu eget. Et integer <br>facilisi eget diam.</p>
        </div>
        
        <div class="boton">
            <button>Get started</button>
        </div>


        <div class="texto2">
            <p>01</p> 
            <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Faucibus in libero risus semper<br> habitant arcu eget. Et integer facilisi eget.</p>
        </div>

        <div class="texto3">
            <p>02</p> 
            <p>Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Faucibus in libero risus semper<br> habitant arcu eget. Et integer facilisi eget.</p>
        </div>

        <img src="../src/storage/img/minimalista.png" alt="img">
    </div>
</body>
</html>