@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #ffffff;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titulo parrafo"
    "none boton"
    "img img"
    ;
}

.title {
    grid-area: titulo;
    background-color: aqua;
}

.text {
    grid-area: parrafo;
    background-color: yellowgreen;

}

.boton {
    grid-area: boton;
    background-color: violet;

}

.imagen {
    grid-area: img;
    background-color: blue;
    
}