@import url(variables.css);

body {
    padding: 64px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px
}

.title {
    font-family: avenir-heavy;
}

.parrafo {
    font-family: avenir-roman;
    opacity: 55%;
}


.boton {
    background-color: #252525;
    color: white;
    font-family: 'avenir-roman';
    border-radius: 15px;
    font-size: 14px;
    padding: 10px 20px;

}

.img1 {
    display: flex;
    background-color: aqua;
    width: 20vw;
    height: 30vw;
    grid-column: 2 / 2;
}

.img2 {
    display: flex;
    background-color: aqua;
    width: 20vw;
    height: 30vw;
    grid-column: 2 / 2;
}