@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #ffffff;
}

.container {
    display: grid;
    margin: 64px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "titulo parrafo"
        "none botonn"
        "img img"
    ;
}

.title {
    font-family: "avenir-heavy";
    grid-area: titulo;
    font-size: 20px;
}

.text {
    font-family: "avenir-roman";
    opacity: 60%;
    grid-area: parrafo;
    


}

.boton {

    text-align: center;
    font-family: "avenir-roman";
    grid-area: botonn;
    color:#ffffff;
    background-color: #252525;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 25px;
    /**display: inline-block; esto sería para que no ocupara todo el ancho de la celda**/
    justify-self: start; /** para que de ancho se quede solo en el inicio de la columna en la que está**/
    align-self: center; /** para que de largo se quede solo en el centro**/
    justify-items: start;
    
}

button {
    border: none; /**para evitar el borde que se le hace al botón interno**/
    background: none;
    color: inherit;
    font: inherit; /**para que el botón tome la fuente y el color de su contenedor, es decir, el de arriba**/
    display: inline-block; /**al final lo puse acá porque va directamente al botón**/
}
.imagen {
    grid-area: img;
    margin-top: 80px;


}

img {
    display: flex;
    width: 1215px;
    height: 700px;
}