@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFF;
    margin: 64px;
    font-family: "Work Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "circle imagenes"
        "title imagenes"
        "texto imagenes"
        "seleccion imagenes";
    grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas */
    align-items: center;
    gap: 20px;
    max-width: 1200px; /* Evita que el contenido se expanda demasiado */
    margin: auto;
}

.img1 {
    grid-area: circle;
    display: flex;
    justify-content: center;
}

.titulo {
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
}

.parrafo {
    grid-area: texto;
    font-size: 1rem;
    color: #333;
}

.botones {
    grid-area: seleccion;
    display: flex;
    gap: 10px;
}

.botones button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
