@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #9C2004;
}

.container {
    display: grid;
    margin: 64px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "imagenes titulo"
        "imagenes parrafo"
    ;
}

.titulo {
    font-family: "work";
    color: #ffffff;

}

.parrafo {
    font-family: "work";
    color: #ffffff;
}

.boton {

    text-align: center;
    font-family: "avenir-roman";
    grid-area: botonn;
    color: #000000;
    background-color: #E5B94B;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 25px;
    justify-self: start;
    align-self: center;
    justify-items: start;
}

button {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    display: inline-block;
    margin: 64px;
}

.imagenes {
    grid-area: imagenes;
    display: flex;
    width: 656px;
    height: 861.5px;
    position: relative;
    bottom: -64px;
    background-color: red;
}

.imagenes .imagen1 {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
}

.imagenes .imagen2 {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.imagenes .imagen3 {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
}

.imagenes .circulo {
    background-color: yellow;
    width: 656px;
    height: 656px;
    border-radius: 50%;
    position: absolute;
}