@import url(variables.css);

body .title {
    font-family: 'avenir-heavy';
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

p {
    font-family: 'avenir-roman';
    font-weight: normal;
    color: var(--color-2);
    font-size: 16px;
    line-height: 1.5;
    opacity: 60%;
}