:root {
    --color-1: #000000;
    --color-2: #252525;
    --color-3: #ffffff;
}

@font-face {
    font-family: "work-sans";
    src: url(../storage/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "italic";
    src: url(../storage/fonts/playfair-display-bold-1740990310-0/PlayfairDisplay-Bold.ttf);
}